@{
    ViewData["Title"] = "Início";
}

<input type="radio" class="slide-controller" name="slide" checked />
<input type="radio" class="slide-controller" name="slide" />
<input type="radio" class="slide-controller" name="slide" />

<div class="slide-show">
    <ul class="slides-list">
        <li class="slide">
            <img id="index" src="/img/comedor.jpg" />
        </li>
        <li class="slide">
            <img id="index" src="/img/mesa_centro_clean.jpg" />
        </li>
        <li class="slide">
            <img id="index" src="/img/aparador2.jpg" />
        </li>
    </ul>
</div>
