@{
    ViewData["Title"] = "Nossos produtos";
}


<div>
    <h2 itemid="linhaKing">Linha King</h2>
    <p>A linha King é baseada no estilo rústico, que tem o item principal a madeira e cores com personalidade. </p>
    <figure>
        <img id="produtos" src='/img/cama_king.jpg'/>
    </figure>
    <figure>
        <img id="produtos" src='/img/caminha_king.jpg'/>
    </figure>
</div>

<div>
    <h2 itemid="linhas_industrial">Linha Industrial</h2>
    <p>A linha Industrial remete ao estilo industrial, com a utilização da madeira e estruturas de ferro juntas.
    </p>
    <figure>
        <img id="produtos"
            src='/img/aparador_industrial.jpg'/>
    </figure>
    <figure>
        <img id="produtos"
            src='/img/comedor_industrial.jpg' />
    </figure>
</div>

<div>
    <h2 itemid="linhas_clean">Linha Clean</h2>
    <p>A linha Clean é inspirada no estilo escandinavo, com o conceito minimalista e paleta de cores claras.</p>
    <figure>
        <img id="produtos"
            src='/img/casinha-de-gato.jpg' />
    </figure>
    <figure>
        <img id="produtos" src='/img/caminha-gatos.jpg' />
    </figure>
</div>
</section>