@{
    ViewData["Title"] = "Quem somos";
}

<h2>Sparck's Móveis</h2>
<p>Presente no mercado desde 2009, Sparck's começou pela necessidade de móveis voltados para os animais de estimação
    que fossem sustentáveis, funcionais, personalizados e de qualidade. Trabalhamos com madeira maciça de
    procedência sustentável, tecido 100% algodão e com produção artesanal, garantindo ao nosso cliente um produto
    dúravel, confortável e único.</p>
