@{
    ViewData["Title"] = "Orçamento concluído";
}
<div class="concluido">
    <h2>Orçamento concluído</h2>
    <p>Um dos nossos atendentes entrará em contato para maiores informações. Obrigada por escolher Sparck's Móveis.</p>
</div>