@model Usuario
@{
    ViewData["Title"] = "Editar usuário";
}
                
<h2>Alterar usuário</h2>

<form asp-action="Editar" method="POST">
    
    <input type="hidden" asp-for="Id">

    <p>
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome">
    </p>
    <p>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login">
    </p>
    <p>
        <label asp-for="Senha">Senha:</label>
        <input asp-for="Senha" type="password">
    </p>
    <p>
        <label asp-for="DataNascimento">Data de Nascimento:</label>
        <input asp-for="DataNascimento" type="date">
    </p> 
    <p>
        <input type="submit" value="Alterar">
    </p>
</form>