@model Usuario;
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<p id="loginMensagem">@ViewBag.Mensagem</p>
<form asp-action="Login" method="POST">
    <p>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login" required>
    </p>
    <p>
        <label asp-for="Senha">Senha:</label>
        <input asp-for="Senha" type="password" required>
    </p>
    <p>
        <input type="submit" value="Entrar">
    </p>
</form>